
input {
    margin-top: 15px;
    font-size: 32px;
    width: 280px;
    text-align: center;
    border-style: solid;
    border-radius: 5px;
}

button {
    width: 80px;
    font-size: 29px;
    border-radius: 5px;
    background-color: #3487ec;
    color: white;
    border: none;
    padding:5px 0;
}

.timer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 370px;
    margin-top: 40px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.value {
    font-size: 75px;
    font-weight: 300;
    line-height: 75px;
}